#mac files
.DS_Store

#IDEA files
*.iml
.idea

# Eclipse files

*.project
*.settings
*.classpath
*.log
*.*~


# maven folders

target

# apam

obr.xml
*-repo.xml
~*
app-store.xml

# apam distribution
distributions/distriman-distribution/conf
distributions/*-distribution/*
tests/helpers/src/test/resources/META-INF/maven/dependencies.properties
tests/pax-test/src/test/resources/META-INF/maven/dependencies.properties

#merge files

*.orig
*.REMOTE.*
*.LOCAL.*
*.BACKUP.*
*.BASE.*
