#mac files
.DS_Store

#IDEA files
*.iml

# Eclipse files

*.project
*.settings
*.classpath
*.log
*.*~


# maven folders

target

# apam

obr.xml
*-repo.xml

# apam distribution
distributions/*distribution/conf
distributions/*distribution/bundle
distributions/*distribution/felix-cache
distributions/*distribution/load
distributions/*distribution/bin