#mac files
.DS_Store

#IDEA files
*.iml
.idea

# Eclipse files

*.project
*.settings
*.classpath
*.log
*.*~


# maven folders

target

# apam

obr.xml
*-repo.xml
~*
app-store.xml

# apam distribution
#distributions/*-distribution/load
distributions/distriman-distribution/conf
distributions/histman-distribution/conf
distributions/basic-distribution/conf
distributions/*-distribution/apam
distributions/*-distribution/bundle
distributions/*-distribution/felix-cache
distributions/*-distribution/bin
distributions/*-distribution/log
distributions/*-distribution/logs
distributions/*-distribution/apam*
distributions/*-distribution/log/*.*
#merge files

*.orig
*.REMOTE.*
*.LOCAL.*
*.BACKUP.*
*.BASE.*
