<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

    <appender name="consoleappender" class="org.apache.log4j.ConsoleAppender">
        <param name="encoding" value="UTF8" />
        <layout class="org.apache.log4j.SimpleLayout">
<!--            <param name="conversionPattern" value="%d{dd/MM/yyyy HH:mm:ss}  %m%n" /> -->
        </layout>
    </appender>

    <appender name="fileappender" class="org.apache.log4j.FileAppender">
        <param name="encoding" value="UTF8" />
        <param name="file" value="toto.txt" />
<!--          <layout class="org.apache.log4j.PatternLayout"> -->
<!--             <param name="conversionPattern" value="%d{dd/MM/yyyy HH:mm:ss}  %m%n" /> -->
<!--          </layout> -->
    </appender>

    <root>
        <level value="ERROR" />
        <appender-ref ref="consoleappender" />
    </root>

</log4j:configuration> 
